.hdr1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    color: black;
}
.hdr1 a {
    text-decoration: none;
    color: blue;
    padding-left: 20px;
}
.title {
    padding-top: 50px;
}
body {
    background-color: black;
    color: white;
}
strong {
    color: red;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
.smp {
    background-color: red;
    width: 100px;
    border: 1.7px solid blue;
}
.smp a {
    padding-left: 10px;
}
.Note {
    background-color: rgb(169, 169, 97);
    color: black;
    width: 300px;
}
.myprojects a{
    text-decoration: none;
}
.pbl {
    background-color: gray;
    height: 150px;
    width: 100%;
    color: black;
}
.rb {
    background-color: green;
    cursor: pointer;
    border: 1.7px dotted black;
}
.rb:hover {
    background-color: darkgreen;
}
.sgf {
    background-color: gray;
    height: 150px;
    width: 100%;
    color: black;
}